
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container-fluid">
  <div class="alert alert-default-primary" *ngIf="message" [ngClass]="message" >
    Create <strong>{{message}}</strong>
    <button type="button" class="close text-danger btn btn-lg" data-dismiss="alert">&times;</button>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-body">
        <strong class="text-center text-lg">Add New OldQ PDF</strong>
        <form class="mt-3" [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="small"><i class="fa fa-book-open text-indigo"></i> Subject Name</label>
            <input type="text" class="form-control" formControlName="subject">
            <div class="text-danger small" *ngIf="addForm.controls.subject.invalid">Subject Name  is required</div>
          </div>
          <div class="form-group">
            <label class="small"><i class="fa fa-calendar text-indigo"></i> Year</label>
            <input type="text" class="form-control" formControlName="year">
            <div class="text-danger small" *ngIf="addForm.controls.year.invalid">Year  is required</div>
          </div>
          <div class="form-group">
            <label class="small"><i class="fa fa-calendar-times text-indigo"></i> Posted Date</label>
            <input type="text" class="form-control" formControlName="postedDate">
            <div class="text-danger small" *ngIf="addForm.controls.postedDate.invalid">Posted Date is required</div>
          </div>
          <div class="form-group">
            <label class="small"><i class="fa fa-file-pdf text-indigo"></i> Pdf File</label>
            <textarea class="form-control" formControlName="pdfUrl"></textarea>
            <div class="text-danger small" *ngIf="addForm.controls.pdfUrl.invalid">Pdf File is required</div>
          </div>
          <div class="form-group ">
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-outline-dark form-control"><strong>Add</strong></button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card card-body">
        <div >
          <form class="form-inline ml-3 " [formGroup]="updateForm" (ngSubmit)="SearchSub()" class="float-right">
            <div class="input-group input-group-sm" >
              <input class="form-control form-control-navbar" type="search" placeholder="Search By Subject Name" aria-label="Search" formControlName="subject">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search text-warning"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="row col-lg-12 col-sm-12 col-md-12 mt-3">
          <table id="example" class="display table table-striped table-bordered table-hover" style="width:100%">
            <thead class="bg-warning text-indigo">
            <tr>
              <th class="text-center">Subject Name</th>
              <th class="text-center">Year</th>
              <th class="text-center">Posted Date</th>
<!--              <th class="text-center">Pdf File</th>-->
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody *ngFor="let c of result | paginate: {itemsPerPage: 10, currentPage : p}">
            <tr>
              <td class="text-center">{{c.subject}}</td>
              <td class="text-center">{{c.year}}</td>
              <td class="text-center">{{c.postedDate}}</td>
<!--              <td class="text-center">{{c.pdfUrl}}</td>-->
              <td  class="text-center">
                <!--                <a class="btn btn-outline-success btn-sm" ><span><i class="fa fa-eye text-info"></i> </span></a> &nbsp; &nbsp;-->
                <a class="btn btn-outline-primary btn-sm" (click)="onUpdate(update, c)"><span><i class="fa fa-edit text-success"></i></span></a> &nbsp; &nbsp;
                <a class="btn btn-outline-secondary btn-sm" (click)="onDelete(close, c.id)"><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  delete model-->
<ng-template #close let-modal class="modal-sm fade">
  <div class="alert alert-default-primary" *ngIf="dMessage" [ngClass]="dMessage" >
    Delete <strong>{{dMessage}}</strong>
    <button type="button" class="close text-danger btn btn-lg" data-dismiss="alert">&times;</button>
  </div>
  <div class="modal-header">
    <span class="text-center text-warning"><h5 class="modal-title" id="deleteModal">Delete OQ Pdf</h5></span>
  </div>
  <div class="modal-body">
    <strong class="text-danger"><i class="fa fa-angry fa-2x"></i> Are You Sure Delete?</strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      close
    </button>
    <button type="submit" class="btn btn-outline-danger" (click)="DeleteOq()"><i class="fa fa-trash"></i></button>
    <!--      (click)="modal.close('Save click')"-->
  </div>
</ng-template>
<!--  end modal-->
<ng-template #update let-modal >
  <!--  <div class="modal-header">-->
  <!--    <span class="text-indigo text-center"><h6 class="modal-title" id="modal-basic-title"><i class="fa fa-user-alt"></i> Student Info</h6></span>-->
  <!--    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
  <!--      <span aria-hidden="true">&times;</span>-->
  <!--    </button>-->
  <!--  </div>-->
  <div class="alert alert-default-primary" *ngIf="uMessage" [ngClass]="uMessage" >
    Update <strong>{{uMessage}}</strong>
    <button type="button" class="close text-danger btn btn-lg" data-dismiss="alert">&times;</button>
  </div>
  <div class="modal-body shadow">
    <h5 class="text-center">Update OQ PDF</h5>
    <form class="mt-3 " [formGroup]="updateForm">
      <div class="form-group">
        <label class="small"><i class="fa fa-book-open text-indigo"></i> Subject Name</label>
        <input type="text" class="form-control" formControlName="subject">
        <div class="text-danger small" *ngIf="updateForm.controls.subject.invalid">Subject Name is required</div>
      </div>
      <div class="form-group">
        <label class="small"><i class="fa fa-calendar text-indigo"></i> Year</label>
        <input type="text" class="form-control" formControlName="year">
        <div class="text-danger small" *ngIf="updateForm.controls.year.invalid">Year  is required</div>
      </div>
      <div class="form-group">
        <label class="small"><i class="fa fa-calendar-times text-indigo"></i> Posted Date</label>
        <input type="text" class="form-control" formControlName="postedDate">
        <div class="text-danger small" *ngIf="updateForm.controls.postedDate.invalid">Posted Date is required</div>
      </div>
      <div class="form-group">
        <label class="small"><i class="fa fa-file-pdf text-indigo"></i> Pdf File</label>
        <textarea class="form-control" formControlName="pdfUrl"></textarea>
        <div class="text-danger small" *ngIf="updateForm.controls.pdfUrl.invalid">Pdf File is required</div>
      </div>
      <hr>
      <div class="form-group text-center">
        <button type="button" class="btn btn-outline-danger btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
          close
        </button> &nbsp;
        <button [disabled]="updateForm.invalid" type="submit" class="btn btn-outline-success" (click)="UpdateOq()">Update</button>
        <!--      (click)="modal.close('Save click')"-->
      </div>
    </form>
  </div>
  <!--  <div class="modal-footer">-->
  <!--    -->
  <!--  </div>-->
</ng-template>
<!--end update model-->
</body>
</html>
