<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="text-center form-group mt-3">
        <div>
          <img src="assets/img/ucst.jpg" class="img-thumbnail">
        </div>
        <h5 class=" mt-3"><strong>Library Management System</strong></h5>
      </div>
      <div class="form-group mt-3">
        <h5 class="text-center">@Team lib</h5>
        <p>
          <a  data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">

            <img src="assets/img/htetlwin%20(2).jpeg" class="img-circle">
            &nbsp; &nbsp;
            <strong class="text-indigo">Mg Htet Lwin Aung</strong>
          </a>
        </p>
        <div class="collapse" id="collapseExample2">
          <div class="card card-body text-center" >
            <strong class=""><i class="fa fa-user-alt text-indigo"></i>&nbsp;&nbsp;Mg Htet Lwin Aung</strong>
            <br>
            <strong class=""><i class="fa fa-id-card text-indigo"></i>&nbsp;&nbsp;5CS-48</strong>
            <br>
            <strong class=""><i class="fa fa-envelope-open text-indigo"></i>&nbsp;&nbsp;htetlwinaung999@gmail.com</strong>
          </div>
        </div>
      </div>
      <div class="form-group mt-3">

        <p class="mt-3">
          <a  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">

              <img src="assets/img/mizhue%20(2).jpg" class="img-circle">
           &nbsp; &nbsp;
          <strong class="text-indigo">Ma Nan May Mi Zhue</strong>
          </a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body text-center" >
             <strong class=""><i class="fa fa-user-alt text-indigo"></i>&nbsp;&nbsp;Ma Nan May Mi Zhue</strong>
            <br>
            <strong class=""><i class="fa fa-id-card text-indigo"></i>&nbsp;&nbsp;5CS-4</strong>
            <br>
            <strong class=""><i class="fa fa-envelope-open text-indigo"></i>&nbsp;&nbsp;maymizhue1679@gmail.com</strong>
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <p>
          <a  data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">

            <img src="assets/img/phyoei%20(2).jpg" class="img-circle">
           &nbsp; &nbsp;
            <strong class="text-indigo">Ma Phyo Ei San</strong>
          </a>
        </p>
        <div class="collapse" id="collapseExample1">
          <div class="card card-body text-center" >
            <strong class=""><i class="fa fa-user-alt text-indigo"></i>&nbsp;&nbsp;Ma Phyo Ei San</strong>
            <br>
            <strong class=""><i class="fa fa-id-card text-indigo"></i>&nbsp;&nbsp;5CS-25</strong>
            <br>
            <strong class=""><i class="fa fa-envelope-open text-indigo"></i>&nbsp;&nbsp;phyoeisann12345@gmail.com</strong>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</body>
</html>
