<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Setting</title>
</head>
<body>
<div class="container">
    <div class="row mt-3">
      <div class="col-lg-4 offset-lg-4 mt-3">
        <div class="card">
          <div class="card-header"><i class="fa fa-cogs "></i>&nbsp;<strong>Setting</strong> </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="small"><i class="fa fa-lock-open text-indigo"></i> Current Password</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="small"><i class="fa fa-lock text-indigo"></i> New Password</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="small"><i class="fa fa-lock text-indigo"></i> New Retype Password</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-outline-info small form-control">Change</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>
