<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Setting</title>
</head>
<body>

<div class="page-content page-container" id="page-content">
<div class="padding">
  <div class="row container d-flex justify-content-center">
    <div class="col-xl-6 col-md-12">
      <div class="card user-card-full">
        <div class="row m-l-0 m-r-0">
          <div class="col-lg-4 bg-c-lite-green user-profile">
            <div class="card-block text-center text-white">
              <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
              <h5 class="f-w-600">{{profileS.name}}</h5>
              <p>University of Computer Studies,Thaton</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card-block">
              <h6 class="m-b-20 p-b-5 b-b-default f-w-600"><i class="fa fa-user small"></i> Information</h6>
              <div class="row">
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600"><i class="fa fa-envelope-open small"></i> Email</p>
                  <h6 class="text-muted f-w-400">{{profileS.email}}</h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600"><i class="fa fa-phone "></i> Phone</p>
                  <h6 class="text-muted f-w-400">{{profileS.phone}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600"><i class="fa fa-id-card "></i>Position</p>
                  <h6 class="text-muted f-w-400">{{profileS.position}}</h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600"><i class="fa fa-address-card small"></i> Address</p>
                  <h6 class="text-muted f-w-400">{{profileS.address}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600"><i class="fa fa-calendar-times small"></i> Date Of Birth</p>
                  <h6 class="text-muted f-w-400">{{profileS.dateOfBirth}}</h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600"><i class="fa fa-id-badge small"></i> RollNo</p>
                  <h6 class="text-muted f-w-400">{{profileS.rollNumber}}</h6>
                </div>
              </div>
              <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"><i class="fa fa-cog"></i> Setting</h6>
              <div class="row">
                <div class="col-sm-12">
                  <a (click)="open(content)" class="m-b-10 f-w-600 d-block small">Change Password</a>
<!--                  <h6 class="text-muted f-w-400">Sam Disuja</h6>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--  detail model-->
<ng-template #content let-modal class="shadow">
  <div class="alert alert-default-primary" *ngIf="uMessage" [ngClass]="uMessage" >
    Change Password <strong>{{uMessage}}</strong>
    <button type="button" class="close text-danger btn btn-lg" data-dismiss="alert">&times;</button>
  </div>
  <div class="modal-header ">
    <span class="text-indigo"><h5 class="modal-title" id="modal-basic-title">Profile Setting</h5></span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="UpdatePassword()" [formGroup]="updatePassword">
      <div class="form-group">
        <label class="small"><i class="fa fa-lock-open text-indigo"></i> Current Password</label>
        <input type="text" class="form-control" formControlName="old_password">
      </div>
      <div formGroupName="passwords">
        <div class="form-group">
          <label class="small"><i class="fa fa-lock text-indigo"></i> New Password</label>
          <input type="text" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
          <label class="small"><i class="fa fa-lock text-indigo"></i> New Retype Password</label>
          <input type="text" class="form-control" formControlName="confirmPassword">
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="updatePassword.invalid" type="submit" class="btn btn-outline-secondary small form-control">Change</button>
      </div>
    </form>
  </div>
</ng-template>
</body>
</html>
