<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container-fluid mt-3">
  <div class="card card-body">
    <div >
      <a class="text-warning" routerLink="/add/new/rent"><i class="fa fa-plus-circle"></i> Add New Rent</a>
        <form class="form-inline ml-3 " [formGroup]="addRForm" (ngSubmit)="SearchByName()" class="float-right">
          <div class="input-group input-group-sm" >
            <input class="form-control form-control-navbar" type="search" placeholder="Search By Student Name" aria-label="Search" formControlName="student">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search text-warning"></i>
              </button>
            </div>
          </div>
        </form>

    </div>
    <div class="row col-lg-12 col-sm-12 col-md-12 mt-3">
      <table id="example" class="display table table-striped table-bordered table-hover" style="width:100%">
        <thead class="bg-warning text-indigo">
        <tr>
          <th class="text-center">Book</th>
          <th class="text-center">Librarian</th>
          <th class="text-center">Student</th>
          <th class="text-center">RentFromDate</th>
          <th class="text-center">RentToDate</th>
          <th class="text-center">ReturnDate</th>
          <th class="text-center">Fine</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let r of rent | paginate:{itemsPerPage: 10, currentPage: p}">
        <tr >
          <td class="text-center">{{r.book.name}}</td>
          <td >{{r.librarian.name}}</td>
          <td >{{r.student.name}}</td>
          <td class="text-center">{{r.rentFromDate}}</td>
          <td class="text-center">{{r.rentToDate}}</td>
          <td class="text-center">{{r.returnDate}}</td>
          <td class="text-center">{{r.fine}}</td>
          <td class="text-center">{{r.status}}</td>
<!--          <td class="text-center">{{}}</td>-->

          <!--          <td>{{b.imgUrl}}</td>-->
          <td  class="text-center">
<!--            <a class="btn btn-outline-success btn-sm" ><span><i class="fa fa-eye text-info"></i> </span></a> &nbsp; &nbsp;-->
            <a class="btn btn-outline-primary btn-sm" (click)="onUpdate(update, r)"><span><i class="fa fa-edit text-success"></i></span></a> &nbsp; &nbsp;
            <a class="btn btn-outline-secondary btn-sm" (click)="onDelete(close, r.id)"><i class="fa fa-trash text-danger"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<!--  detail model-->
<!--<ng-template #content let-modal>-->
<!--  <div class="modal-header">-->
<!--    <span class="text-warning"><h5 class="modal-title" id="modal-basic-title">Details Book Info</h5></span>-->
<!--    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <form>-->
<!--      <div class="form-group">-->
<!--        <label for="firstname">Firstname</label>-->
<!--        <div class="input-group">-->
<!--          <input id="firstname" class="form-control" >-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
<!--  </div>-->
<!--</ng-template>-->
<!--&lt;!&ndash;  end modal&ndash;&gt;-->
<!--  delete model-->
<ng-template #close let-modal class="modal-sm fade">
  <div class="alert alert-default-primary" *ngIf="dMessage" [ngClass]="dMessage" >
    Delete <strong>{{dMessage}}</strong>
    <button type="button" class="close text-danger btn btn-lg" data-dismiss="alert">&times;</button>
  </div>
  <div class="modal-header">
    <span class="text-center text-warning"><h5 class="modal-title" id="deleteModal">Delete Book</h5></span>
  </div>
  <div class="modal-body">
    <strong class="text-danger"><i class="fa fa-angry"></i> Are You Sure Delete?</strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      close
    </button>
    <button type="submit" class="btn btn-outline-danger" (click)="DeleteRent()"><i class="fa fa-trash"></i></button>
    <!--      (click)="modal.close('Save click')"-->
  </div>
</ng-template>
<!--  end modal-->
<!--  update model-->
<ng-template #update let-modal class="modal fade">
  <div class="alert alert-default-primary" *ngIf="uMessage" [ngClass]="uMessage" >
    Update <strong>{{uMessage}}</strong>
    <button type="button" class="close text-danger btn btn-lg" data-dismiss="alert">&times;</button>
  </div>
  <div class="modal-header">
    <span class="text-warning"><h5 class="modal-title text-center" id="updateModal">Update Book Info</h5></span>
  </div>
  <div class="modal-body">
    <form class="" [formGroup]="addRForm" >
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group mt-4">
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text text-indigo"><i class="fa fa-book"></i> </span>
              </div>
              <input type="text" class="form-control" formControlName="book" placeholder="Book Name">
            </div>
            <div class="text-danger small" *ngIf="addRForm.controls.book.invalid">Book Name is required</div>
          </div>
          <div class="form-group mt-5">
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text text-indigo"><i class="fa fa-user"></i> </span>
              </div>
              <input type="text" class="form-control" formControlName="student" placeholder="Student Name">
            </div>
            <div class="text-danger small" *ngIf="addRForm.controls.student.invalid">Student Name is required</div>
          </div>
          <div class="form-group mt-5">
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text text-indigo"><i class="fa fa-user-cog"></i> </span>
              </div>
              <input type="text" class="form-control" formControlName="librarian" placeholder="Librarian Name">
            </div>
            <div class="text-danger small" *ngIf="addRForm.controls.librarian.invalid">Librarian Name is required</div>
          </div>
          <div class="form-group mt-5">
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text text-indigo"><i class="fa fa-calendar"></i> </span>
              </div>
              <input type="text" class="form-control" [matDatepicker]="picker1" formControlName="rentFromDate" placeholder="Rent Date">
              <div class="input-group-prepend">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </div>
            </div>
            <div class="text-danger small" *ngIf="addRForm.controls.rentFromDate.invalid">Rent Date is required</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group mt-4">
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text text-indigo"><i class="fa fa-calendar"></i> </span>
              </div>
              <input type="text" [matDatepicker]="picker2" class="form-control" placeholder="Due Date" formControlName="rentToDate">
              <div class="input-group-prepend">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </div>
            </div>
            <div class="text-danger small" *ngIf="addRForm.controls.rentToDate.invalid">Due Date is required</div>
          </div>
          <div class="form-group mt-5">
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text text-indigo"><i class="fa fa-calendar"></i> </span>
              </div>
              <input type="text" [matDatepicker]="picker" class="form-control" placeholder="Return Date" formControlName="returnDate">
              <div class="input-group-prepend">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
            <div class="text-danger small" *ngIf="addRForm.controls.returnDate.invalid">Return Date is required</div>
          </div>
          <div class="form-group mt-5">
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text text-indigo"><i class="fa fa-money-bill-alt"></i> </span>
              </div>
              <input type="text" class="form-control" formControlName="fine" placeholder="Fine">
            </div>
            <div class="text-danger small" *ngIf="addRForm.controls.fine.invalid">Fine is required</div>
          </div>
          <div class="form-group mt-5">
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text text-indigo"><i class="fa fa-user-edit"></i> </span>
              </div>
              <select class="custom-select" formControlName="status">
                <option *ngFor="let s of Status" value="{{s}}">{{s}}</option>
              </select>
            </div>
            <div class="text-danger small" *ngIf="addRForm.controls.status.invalid">Status is required</div>
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="button" class="btn btn-outline-danger btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
          close
        </button> &nbsp;
        <button [disabled]="addRForm.invalid" type="submit" class="btn btn-outline-success" (click)="UpdateRent()">Update</button>
        <!--      (click)="modal.close('Save click')"-->
      </div>
    </form>
  </div>

</ng-template>






</body>
<!--  <script src="node_modules/jquery/dist/jquery.min.js" defer></script>-->
<!--<script src="node_modules/datatables.net/js/jquery.dataTables.min.js" defer></script>-->
</html>
