<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container-fluid mt-5">
  <div class="card card-body">
<!--    <a class="text-warning" routerLink="/add/new/items"><i class="fa fa-plus-circle"></i> Add New Book</a>-->
    <div class="row col-lg-12 col-sm-12 col-md-12 mt-3">
      <table id="example" class="display table table-striped table-bordered table-hover" style="width:100%">
        <thead class="bg-warning text-indigo">
        <tr>
          <th class="text-center">Book</th>
          <th class="text-center">Librarian</th>
          <th class="text-center">Student</th>
          <th class="text-center">RentFromDate</th>
          <th class="text-center">RentToDate</th>
          <th class="text-center">ReturnDate</th>
          <th class="text-center">Fine</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let r of rent">
        <tr >
          <td class="text-center">{{r.book.name}}</td>
          <td >{{r.librarian.name}}</td>
          <td >{{r.student.name}}</td>
          <td class="text-center">{{r.rentFromDate}}</td>
          <td class="text-center">{{r.rentToDate}}</td>
          <td class="text-center">{{r.returnDate}}</td>
          <td class="text-center">{{r.fine}}</td>
          <td class="text-center">{{r.status}}</td>
<!--          <td class="text-center">{{}}</td>-->

          <!--          <td>{{b.imgUrl}}</td>-->
          <td  class="text-center">
            <a class="btn btn-outline-success btn-sm" ><span><i class="fa fa-eye text-info"></i> </span></a> &nbsp; &nbsp;
            <a class="btn btn-outline-primary btn-sm" ><span><i class="fa fa-edit text-success"></i></span></a> &nbsp; &nbsp;
            <a class="btn btn-outline-secondary btn-sm" ><i class="fa fa-trash text-danger"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--  detail model-->
<!--<ng-template #content let-modal>-->
<!--  <div class="modal-header">-->
<!--    <span class="text-warning"><h5 class="modal-title" id="modal-basic-title">Details Book Info</h5></span>-->
<!--    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <form>-->
<!--      <div class="form-group">-->
<!--        <label for="firstname">Firstname</label>-->
<!--        <div class="input-group">-->
<!--          <input id="firstname" class="form-control" >-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
<!--  </div>-->
<!--</ng-template>-->
<!--&lt;!&ndash;  end modal&ndash;&gt;-->
<!--&lt;!&ndash;  delete model&ndash;&gt;-->
<!--<ng-template #close let-modal class="modal-sm fade">-->
<!--  <div class="modal-header">-->
<!--    <span class="text-center text-warning"><h5 class="modal-title" id="deleteModal">Delete Book</h5></span>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <strong class="text-danger"> Are You Sure Delete?</strong>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-outline-success btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      close-->
<!--    </button>-->
<!--    <button type="submit" class="btn btn-outline-danger" (click)="DeleteBook()"><i class="fa fa-trash"></i></button>-->
<!--    &lt;!&ndash;      (click)="modal.close('Save click')"&ndash;&gt;-->
<!--  </div>-->
<!--</ng-template>-->
<!--&lt;!&ndash;  end modal&ndash;&gt;-->
<!--&lt;!&ndash;  delete model&ndash;&gt;-->
<!--<ng-template #update let-modal class="modal fade">-->
<!--  <div class="modal-header">-->
<!--    <span class="text-warning"><h5 class="modal-title text-center" id="updateModal">Update Book Info</h5></span>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <form class="mt-3" [formGroup]="updateForm">-->
<!--      <div class="form-group">-->
<!--        <input placeholder="စာအုပ်အမည်" class="form-control" formControlName="name">-->
<!--        <div class="text-danger small" *ngIf="updateForm.controls.name.invalid">Name is required</div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <input type="text" placeholder="စာရေးဆရာအမည်" class="form-control" formControlName="author">-->
<!--        <div class="text-danger small" *ngIf="updateForm.controls.author.invalid">Author is required</div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <input type="text" placeholder="စာအုပ်အကြိမ်ရေ" class="form-control" formControlName="edition">-->
<!--        <div class="text-danger small" *ngIf="updateForm.controls.edition.invalid">Edition is required</div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <input type="text" placeholder="စျေးနှုန်း" class="form-control" formControlName="price">-->
<!--        <div class="text-danger small" *ngIf="updateForm.controls.price.invalid">Price is required</div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <input type="text" placeholder="ISBN" class="form-control" formControlName="isbn">-->
<!--        <div class="text-danger small" *ngIf="updateForm.controls.isbn.invalid">ISBN is required</div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <input type="text" placeholder="ImgUrl" class="form-control" formControlName="imgUrl">-->
<!--        <div class="text-danger small" *ngIf="updateForm.controls.imgUrl.invalid">IMGURL is required</div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label class="small" ><i class="fa fa-list-alt text-indigo"></i> Category</label>-->
<!--        <select class="custom-select" formControlName="categories" >-->
<!--          <option *ngFor="let c of result; let x = index" [value]="x" >{{c.type}}</option>-->
<!--        </select>-->
<!--        <div class="text-danger small" *ngIf="updateForm.controls.categories.invalid">Category is required</div>-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label class="small"><i class="fa fa-bars text-indigo"></i> Shelf No</label>-->
<!--        <select class="custom-select" formControlName="shelves" >-->
<!--          <option *ngFor="let s of shelf; let x = index" [value]="x">{{s.id}}</option>-->
<!--        </select>-->
<!--        <div class="text-danger small" *ngIf="updateForm.controls.shelves.invalid">Shelf is required</div>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div class="form-group float-right">-->
<!--        <button type="button" class="btn btn-outline-danger btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--          close-->
<!--        </button> &nbsp;-->
<!--        <button type="submit" class="btn btn-outline-success" (click)="UpdateBook()">Update</button>-->
<!--        &lt;!&ndash;      (click)="modal.close('Save click')"&ndash;&gt;-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<!--</ng-template>-->






</body>
<!--  <script src="node_modules/jquery/dist/jquery.min.js" defer></script>-->
<!--<script src="node_modules/datatables.net/js/jquery.dataTables.min.js" defer></script>-->
</html>
