<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-gray-dark elevation-4">
  <!-- Brand Logo -->

  <div class="user-panel mt-3 text-center">
    <div class="image">
      <img src="assets/img/ucst.jpg" class="img-circle elevation-2">
    </div>
    <h6 class="text-warning sm shadow mt-2">Library Management System</h6>
  </div>

  <!-- Sidebar -->
  <div class="sidebar mt-3" >
    <nav *ngIf="authModel.isAuthenticated && authModel.isSt">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/dashboard/book/category" class="nav-link">
            <i class="fa fa-list nav-icon text-warning"></i>
            <strong >Book Category</strong>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/home" class="nav-link">
            <i class="fa fa-list-alt nav-icon text-warning"></i>
            <strong class="text-bold">Book Lists</strong>
          </a>
        </li>
          <li class="nav-item">
            <a routerLink="/dashboard/pdf/lists" class="nav-link">
              <i class="fa fa-eye nav-icon text-warning"></i>
              <strong>Old Questions Lists</strong>
            </a>
          </li>
        <li class="nav-item has-treeview">
          <hr class="table-bordered">
          <a routerLink="/dashboard/about" class="nav-link ">
            <i class="nav-icon fa fa-users text-warning"></i>
            <strong>
              About
            </strong>
          </a>
        </li>
      </ul>
    </nav>
    <nav *ngIf="authModel.isAuthenticated && authModel.isLib">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open small">
        <li  class="nav-item has-treeview">
          <a  class="nav-link ">
            <i class="nav-icon fa fa-list-alt "></i>
            <p class=" ">
              Manage Book
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/add/new/items" class="nav-link">
                <i class="fa fa-plus-circle nav-icon text-warning"></i>
                <p class="small text-warning">Add New Book</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/dashboard/book/category" class="nav-link">
                <i class="fa fa-list nav-icon text-warning"></i>
                <strong class="small text-warning">Book Category</strong>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/dashboard/book/list" class="nav-link">
                <i class="fa fa-bars nav-icon text-warning"></i>
                <p class="text-warning small">Book Details List</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview mt-2">
          <a  class="nav-link">
            <i class="nav-icon fa fa-users-cog"></i>
            <p >
              Manage Student
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/student/list" class="nav-link">
                <i class="fa fa-eye nav-icon text-warning"></i>
                <p class="small text-warning">Student Lists</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview mt-2">
          <a  class="nav-link">
            <i class="nav-icon fa fa-list-alt "></i>
            <p >
              Manage Category
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/category/list" class="nav-link">
                <i class="fa fa-plus-circle nav-icon text-warning"></i>
                <p class="small text-warning"> Category Detail Lists</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview mt-2">
          <a  class="nav-link">
            <i class="nav-icon fa fa-id-card "></i>
            <p >
              Manage LibraryCard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/student/library/card" class="nav-link">
                <i class="fa fa-plus-circle nav-icon text-warning"></i>
                <p class="small text-warning">Add Student LibraryCard</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview mt-2">
          <a  class="nav-link">
            <i class="nav-icon fa fa-list-alt "></i>
            <p >
              Manage Book Rent
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/add/new/rent" class="nav-link">
                <i class="fa fa-plus-circle nav-icon text-warning"></i>
                <p class="small text-warning">Add New Rent</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview mt-2">
            <li class="nav-item">
              <a routerLink="/dashboard/rent/list" class="nav-link">
                <i class="fa fa-plus-circle nav-icon text-warning"></i>
                <p class="small text-warning">Rent Lists</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview mt-2">
          <a  class="nav-link">
            <i class="nav-icon fa fa-users-cog "></i>
            <p >
              Manage Librarian
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/librarian/list" class="nav-link">
                <i class="fa fa-plus-circle nav-icon text-warning"></i>
                <p class="small text-warning">Librarian Detail Lists</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview mt-2">
          <a  class="nav-link">
            <i class="nav-icon fa fa-file-pdf "></i>
            <p >
              Manage Shelf & OQ
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/shelf/list" class="nav-link">
                <i class="fa fa-plus-circle nav-icon text-warning"></i>
                <p class="small text-warning">Shelf Detail Lists</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/pdf/lists" class="nav-link">
                <i class="fa fa-eye nav-icon text-warning"></i>
                <p class="small text-warning">OldQ Category</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/old/q" class="nav-link">
                <i class="fa fa-plus-circle nav-icon text-warning"></i>
                <p class="small text-warning">OldQ Detail Lists</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <hr class="table-bordered">
          <a routerLink="/dashboard/about" class="nav-link">
            <i class="nav-icon fa fa-users "></i>
            <p >
              About
<!--              <i class="right fas fa-angle-left"></i>-->
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<!--  about html-->



