

<div class="container-fluid mt-2">
  <h4 class="text-center text-indigo mt-3"><strong>Book Category In UCST(Thaton) Library</strong></h4>
  <div class="container mt-3 sm">
    <div class="card card-body bg-transparent shadow ">
      <div >
        <form class="form-inline ml-3 " [formGroup]="searchForm" (ngSubmit)="SearchType()" class="float-right">
          <div class="input-group input-group-sm" >
            <input class="form-control form-control-navbar" type="search" placeholder="Search By Type" aria-label="Search" formControlName="type">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search text-warning"></i>
              </button>
            </div>
          </div>
        </form>
<!--        <form [formGroup]="searchForm" (ngSubmit)="SearchType()" class="float-right">-->
<!--          <input type="text" class="small sm" placeholder="Search By Type" formControlName="type">&nbsp;-->
<!--          <button class="text-dark btn btn-sm" type="submit"><i class="fa fa-search"></i></button>-->
<!--        </form>-->
      </div>
      <div class="container-fluid mt-3" >
<!--        <a class="text-warning float-right" href="/dashboard/book/category"><i class="fa fa-backward"></i></a>-->
        <div class="row">
          <div class="card card-body small shadow-lg bg-gray-light" *ngFor="let b of bookLists">
            <div class="col-lg-12">
              <div class="text-center form-group">
                <img src="http://localhost:8081/libMgmtSystem/file/get/{{b.imgUrl}}" class="img-thumbnail">
              </div>
              <div class="text-center">
                <h6 class="small">Book Name:</h6> <strong class="text-center text-indigo">{{b.name}}</strong><br>
                <!--                <h6 class="small">Author:</h6><strong class="text-center text-indigo">{{b.edition}}</strong><br>-->
                <h6 class="small">Author:</h6><strong class="text-center text-indigo">{{b.author}}</strong><br>
                <h6 class="small">Shelf No:</h6><strong class="text-center text-indigo">{{b.shelves.id}}</strong><br>
<!--                <h6 class="small">Category:</h6><strong class="text-center text-indigo">{{b.categories.type}}</strong>-->
              </div>
<!--              <a routerLink="/dashboard/add/new/rent" class="btn btn-outline-warning form-control mt-3"><strong>Borrow</strong></a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-3" >
        <div class="row">
          <div class="card card-body shadow-lg bg-gray-light" *ngFor="let d of bookCateG | paginate:{itemsPerPage: 30, currentPage : p}">
            <div class="col-lg-12">
              <a (click)="onClick(d.id)" class="d-block"><strong class="text-center text-indigo">{{d.type}}</strong></a>
            </div>
          </div>
        </div>
        <pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
