

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container-fluid mt-2">
  <div class="card card-body">
    <div>
      <form [formGroup]="inputForm" (ngSubmit)="clicker()">
        <input type="text" class="small sm" placeholder="Search By Name" formControlName="name">&nbsp;
        <button class="text-dark btn btn-sm" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="row col-lg-12 col-sm-12 col-md-12 mt-3">
      <table id="example" class="display table table-striped table-bordered table-hover" style="width:100%">
        <thead class="bg-warning text-indigo">
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
<!--          <th class="text-center">Email</th>-->
          <th class="text-center">Address</th>
          <th class="text-center">Phone</th>
          <th class="text-center">Date of Birth</th>
          <th class="text-center">RollNo</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let s of student">
          <td class="text-center">{{s.id}}</td>
<!--          <td></td>-->
          <td class="text-center">{{s.name}}</td>
          <td class="text-center">{{s.address}}</td>
          <td class="text-center">{{s.phone}}</td>
          <td class="text-center">{{s.dateOfBirth}}</td>
          <td class="text-center">{{s.libraryCard.rollNo}}</td>
          <td class="text-center">
            <a class="btn btn-outline-success btn-sm" (click)="open(content, s)"><span><i class="fa fa-eye text-info"></i> </span></a> &nbsp; &nbsp;
            <a class="btn btn-outline-primary btn-sm" (click)="onUpdate(update, s)"><span><i class="fa fa-edit text-success"></i></span></a> &nbsp; &nbsp;
            <a class="btn btn-outline-secondary btn-sm" (click)="onDelete(close, s.id)"><i class="fa fa-trash text-danger"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--  detail model-->
<ng-template #content let-modal>
  <div class="modal-header">
    <span class="text-indigo"><h5 class="modal-title" id="modal-basic-title">Profile Setting</h5></span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center form-group">
      <i class="fa fa-id-card text-indigo"></i> &nbsp; &nbsp; <strong>{{rollNo}}</strong>
    </div>
    <div class="text-center form-group">
      <i class="fa fa-user-cog text-indigo"></i> &nbsp; &nbsp; <strong>{{name}}</strong>
    </div>
    <div class="text-center form-group">
      <i class="fa fa-calendar-check text-indigo"></i> &nbsp; &nbsp; <strong>{{dateOfBirth}}</strong>
    </div>
    <div class="text-center form-group">
      <i class="fa fa-phone-alt text-indigo"></i> &nbsp; &nbsp; <strong>{{phone}}</strong>
    </div>
    <div class="text-center form-group">
      <i class="fa fa-home text-indigo"></i> &nbsp; &nbsp; <strong>{{address}}</strong>
    </div>
  </div>
</ng-template>
<!--  end modal-->
<!--  delete model-->
<ng-template #close let-modal class="modal-sm fade">
  <div class="modal-header">
    <span class="text-center text-warning"><h5 class="modal-title" id="deleteModal">Delete Book</h5></span>
  </div>
  <div class="modal-body">
    <strong class="text-danger"> Are You Sure Delete?</strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
      close
    </button>
    <button type="submit" class="btn btn-outline-danger" (click)="DeleteStud()"><i class="fa fa-trash"></i></button>
    <!--      (click)="modal.close('Save click')"-->
  </div>
</ng-template>
<!--  end modal-->
<!--  delete model-->
<ng-template #update let-modal class="modal fade">
  <div class="modal-header">
    <span class="text-warning"><h5 class="modal-title text-center" id="updateModal">Update Student Info</h5></span>
  </div>
  <div class="modal-body">
    <form class="mt-3" [formGroup]="updateStudForm">
      <div class="form-group">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" ><i class="fa fa-id-card"></i> </span>
          </div>
          <input type="text" class="form-control" placeholder="LibraryCard's RollNo" formControlName="libraryCard">
        </div>
        <div class="text-danger small" *ngIf="updateStudForm.controls.libraryCard.invalid">LibraryCard's RollNo is required</div>
      </div>
      <div class="form-group">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" ><i class="fa fa-user"></i> </span>
          </div>
          <input type="text" class="form-control" placeholder="Username" formControlName="name">
        </div>
        <div class="text-danger small" *ngIf="updateStudForm.controls.name.invalid">Name is required</div>
      </div>
      <div class="form-group">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope-open"></i> </span>
          </div>
          <input type="email" class="form-control" placeholder="Email Address" formControlName="email">
        </div>
        <div class="text-danger small" *ngIf="updateStudForm.controls.email.invalid">Email is required</div>
      </div>
      <div class="form-group">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-address-card"></i> </span>
          </div>
          <!--              <input type="text" class="form-control" placeholder="Address" formControlName="address">-->
          <textarea class="form-control" formControlName="address"></textarea>
        </div>
        <div class="text-danger small" *ngIf="updateStudForm.controls.address.invalid">Address is required</div>
      </div>
      <div class="form-group">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" ><i class="fa fa-phone"></i> </span>
          </div>
          <input type="tel" class="form-control" placeholder="Phone Number" formControlName="phone">
        </div>
        <div class="text-danger small" *ngIf="updateStudForm.controls.phone.invalid">Phone is required</div>
      </div>
      <div class="form-group">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar"></i> </span>
          </div>
          <input type="text" [matDatepicker]="picker" class="form-control" placeholder="Date of Birth" formControlName="dateOfBirth">
          <div class="input-group-prepend">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
        <div class="text-danger small" *ngIf="updateStudForm.controls.dateOfBirth.invalid">Date of Birth is required</div>
      </div>
      <div class="form-group">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" ><i class="fa fa-user"></i> </span>
          </div>
          <select class="custom-select" formControlName="role">
            <option value="{{roles}}">{{roles}}</option>
          </select>
        </div>
        <div class="text-danger small" *ngIf="updateStudForm.controls.role.invalid">User Role is required</div>
      </div>
      <div formGroupName="passwords">
        <div class="form-group">
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="fa fa-lock"></i> </span>
            </div>
            <input type="password" class="form-control" placeholder="******" formControlName="password">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-lock"></i> </span>
            </div>
            <input type="password" class="form-control" placeholder="******" formControlName="confirmPassword">
          </div>
        </div>
        <div class="text-danger" *ngIf="updateStudForm.touched && updateStudForm.controls.passwords.errors !== null && updateStudForm.controls.passwords.errors.PasswordNotMergeError">
          * password and confirm password must be same.
        </div>
      </div>
      <hr>
      <div class="form-group float-right">
        <button type="button" class="btn btn-outline-danger btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
          close
        </button> &nbsp;
        <button type="submit" class="btn btn-outline-success" (click)="UpdateStudent()">Update</button>
        <!--      (click)="modal.close('Save click')"-->
      </div>
    </form>
  </div>

</ng-template>
<!--  end modal-->

</body>
</html>
